<div class="card">
  <div class="image">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  </div>
  <div class="content">
    <div class="title">Kubernetes</div>
    <div class="bottom">
      <ul class="msg">
        <li><label for="">Proficiency</label><span class="material-icons" *ngFor="let item of [1,2,3,4,5]">star</span>
        </li>
        <li><label for="">Projects</label><span>10</span></li>
        <li><label for="">Experience</label><span>10</span></li>
        <li><label for="">Blogs</label><span>10</span></li>
      </ul>
      <button>Know More</button>
    </div>
  </div>
</div>