<div class="card">
  <div class="image">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  </div>
  <div class="content">
    <div class="title">Card Hover Animation</div>
    <div class="sub-title">HTML and CSS (Animation)</div>
    <div class="bottom">
      <div class="msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, optio? Officiis unde rem, nulla
        reiciendis eaque repellat doloremque ratione sint accusantium vitae cupiditate cumque explicabo numquam odit
        quidem dignissimos consequatur!</div>
      <button>Read More</button>
    </div>
  </div>
</div>