.card {
    height: 300px;
    width: 250px;
    display: block;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    transition: 0.4s linear;
    padding: 10px;
    overflow: hidden;

    .image {
        height: 250px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            transition: 0.3s;
        }
    }

    .content {
        bottom: 0px;
        background: white;
        text-align: center;
        padding: 20px 30px;
        overflow: hidden;
        transform: translateY(0);
        transition: 0.3s linear;

        .title {
            font-size: 24px;
            font-weight: 600;
            color: #333333;
        }

        .bottom {
            .msg {
                color: #666666;
                font-size: 16px;
                text-align: unset;
                line-height: 1.8em;
                list-style: none;
            }

            button {
                float: left;
                padding: 7px 15px;
                font-size: 17px;
                background: #e74c32;
                color: white;
                font-weight: 500;
                border: none;
                margin: 10px 0px;
                outline: none;
                cursor: pointer;
            }

            button:hover {
                transform: scale(1.1);
                background: #e64533;
            }
        }
    }
}

.card:hover {
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);

    .image img {
        opacity: 0.6;
        transform: scale(1.1);
    }

    .content {
        transition: 2s linear;
        transform: translateY(-250px);
        transition: 0.3s linear;
    }
}