.footer {
    background-color: var(--white);
    color: black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 30px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;

    .profile-icon-container {
        cursor: pointer;
    }

    .brand-logo {
        height: 20px;

        &.black {
            filter: contrast(500%) grayscale(1);
        }
    }
}